#include "winver.h"

IDI_MAIN               ICON    DISCARDABLE     "res\\main.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        /* Unicode */
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "KeAr s.r.o."
            VALUE "FileDescription", ""
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "roc2rawsplits"
            VALUE "LegalCopyright", "Copyright(C) KeAr"
            VALUE "OriginalFilename", "roc2rawsplits.exe"
            VALUE "ProductName", "roc2rawsplits"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* Unicode */
        VALUE "Translation", 0x0, 1200
    END
END
